In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter

In [2]:
data = pd.read_csv('/Users/AAB/AAB/Unit 1/Python 8/проект 1 Кто хочет стать милл кинопроката/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
362,tt1100119,40000000,28972508,Shorts,Jimmy Bennett|Kat Dennings|Jolie Vanier|Willia...,Robert Rodriguez,Not So TALL Tales From The Director Of 'Spy Kids',"A young boy's discovery of a colorful, wish-gr...",89,Comedy|Family,Warner Bros. Pictures,8/21/2009,4.8,2009
1534,tt0465551,15000000,49469904,Notes on a Scandal,Judi Dench|Cate Blanchett|Bill Nighy|Juno Temp...,Richard Eyre,One woman's secret is another woman's power. O...,A veteran high school teacher befriends a youn...,92,Drama|Romance,Fox Searchlight Pictures|Scott Rudin Productio...,12/25/2006,6.3,2006
922,tt0251160,36000000,102244770,John Q,Denzel Washington|Robert Duvall|Anne Heche|Kim...,Nick Cassavetes,Give a father no options and you leave him no ...,John Q is a 2002 film by Nick Cassavetes; star...,116,Drama|Thriller|Crime,New Line Cinema|Burg/Koules Productions|Evolut...,2/15/2002,7.1,2002
1175,tt0339034,12000000,4922166,From Justin to Kelly,Kelly Clarkson|Justin Guarini |Brandon Hensche...,Robert Iscove,The tale of two American Idols.,"A lonely, sexually repressed man. A depressed ...",90,Comedy|Romance,20th Century Fox,6/20/2003,3.5,2003
533,tt0256380,40000000,141069860,Shallow Hal,Gwyneth Paltrow|Jack Black|Jason Alexander|Joe...,Bobby Farrelly|Peter Farrelly,Are You A Shallow Guy?,A shallow man falls in love with a 300 pound w...,114,Comedy|Romance,Twentieth Century Fox Film Corporation,11/1/2001,5.5,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['profit'] = data.revenue - data.budget # это код получения столбца profit

# коды формирования соответствующих списков для заданий, начиная с 11 и далее:
data['genres'] = data['genres'].apply(lambda x: x.split('|')) 
data['director'] = data['director'].apply(lambda x: x.split('|'))
data['cast'] = data['cast'].apply(lambda x: x.split('|'))
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))

# код формирования столбца release_month: 
data['release_month'] = data['release_date'].apply(lambda x: int(x[0]))
# код формирования столбца len_title: 
data['len_title'] = data['original_title'].apply(lambda x: len(str(x)))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [10]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # "+"

In [24]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title.iloc[0]

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)' # "+"

In [21]:
data[data.runtime == data.runtime.max()].original_title.iloc[0]

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' # "+"

In [ ]:
data[data.runtime == data.runtime.min()].original_title.iloc[0]

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '2. 110' # "+"

In [ ]:
round(data.runtime.mean(),)

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '1. 107' # "+"

In [ ]:
round(data.runtime.median(),)

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
answers['6'] = '5. Avatar (tt0499549)' # "+"

In [ ]:
# код получения столбца profit вынесен в Предобработку, что в начале
data[data.profit == data.profit.max()].original_title.iloc[0]

# 7. Какой фильм самый убыточный?

In [16]:
answers['7'] = '5. The Lone Ranger (tt1210819)' # "+"

In [ ]:
data[data.profit == data.profit.min()].original_title.iloc[0]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
answers['8'] = '1. 1478' # "+"

Вариант 1

In [ ]:
#  с использованием count, но много лишней информации на выходе:
data[data.revenue > data.budget].count()

Вариант 2

In [ ]:
# так выводится только искомое число фильмов без лишней информации:
len(data[data.revenue > data.budget])

Вариант 3

In [ ]:
# самый короткий код по колонке profit:
len(data[data.profit > 0])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [18]:
answers['9'] = '4. The Dark Knight (tt0468569)' # "+"

Вариант 1

In [ ]:
# с последовательным использованием фильтров:
ata[data.release_year == 2008]
data[data.revenue == data.revenue.max()].original_title.iloc[0]

Вариант 2

In [ ]:
# с использованием для фильтрации условия в условии: 
data[data.revenue == data[data.release_year == 2008].revenue.max()].original_title.iloc[0]

Вариант 3

In [ ]:
# с использованием groupby:
data[data.release_year == 2008].groupby(['original_title'])['revenue'].max().sort_values(ascending=False).head(1)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [19]:
answers['10'] = '5. The Lone Ranger (tt1210819)' # "+"

Вариант 1

In [ ]:
# с последовательным использованием фильтров:
data[(data.release_year >= 2012) & (data.release_year <= 2014)]
data[data.profit == data.profit.min()].original_title.iloc[0]

Вариант 2

In [ ]:
# # с использованием для фильтрации условия в условии:
data[data.profit == data[(data.release_year >= 2012) 
                         & (data.release_year <= 2014)].profit.min()].original_title.iloc[0]

# 11. Какого жанра фильмов больше всего?

In [20]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку, что в начале
answers['11'] = '3. Drama' # "+"

Вариант 1

In [79]:
# функция формирования списка genres внесена в предобработку что в начале
data.genres.explode().value_counts().head(1)

Вариант 2

In [124]:
# с использованием Counter из collections
collections.Counter(data['genres'].str.cat(sep = '|').split('|')).most_common(1)

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [21]:
answers['12'] = '1. Drama' # "+"

In [81]:
# функция формирования списка genres внесена в предобработку, что в начале
data[(data.profit > 0)].genres.explode().value_counts().head(1)

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [22]:
answers['13'] = '5. Peter Jackson' # "+"

In [72]:
# функция формирования списка director внесена в предобработку, что в начале
data.explode('director').groupby('director').revenue.sum().sort_values(ascending=False).head(1)

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [23]:
answers['14'] = '3. Robert Rodriguez' # "+"

Вариант 1

In [111]:
data_explode = data.explode('director').explode('genres')
data_explode[data_explode.genres == 'Action'].director.value_counts().head(1)

Вариант 2

In [110]:
# с использованием groupby
df = data.explode('director').explode('genres')
df[df.genres == 'Action'].groupby('director')['genres'].count().sort_values(ascending=False).head(1)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [24]:
answers['15'] = '3. Chris Hemsworth' # "+"

In [113]:
# функция формирования списка cast внесена в предобработку, что в начале 
data[data.release_year == 2012].explode('cast').groupby('cast').revenue.sum().sort_values(ascending=False).head(1)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [25]:
answers['16'] = '3. Matt Damon' # "+"

In [89]:
# функция формирования списка cast внесена в предобработку, что в начале 
# Примечание: в фильмах, где бюджет выше среднего по данной выборке!!!
data[data.budget >= data.budget.mean()].explode('cast').groupby('cast').budget.count().sort_values(ascending=False).head(1)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [26]:
answers['17'] = '2. Action' # "+"

Вариант 1

In [122]:
# функции формирования списков cast и genres внесены в предобработку, что в начале 
data_expld = data.explode('cast').explode('genres')
data_expld[data_expld.cast == 'Nicolas Cage'].groupby('genres').cast.count().sort_values(ascending=False).head(1)

Вариант 2

In [121]:
# с использованием Counter из collections
# функции формирования списков cast и genres внесены в предобработку, что в начале
data = data[data.cast.str.contains('Nicolas Cage')]
collections.Counter(data['genres'].str.cat(sep = '|').split('|')).most_common(1)

# 18. Самый убыточный фильм от Paramount Pictures

In [27]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' # "+"

In [5]:
# функции формирования списков production_companies и profit внесены в предобработку, что в начале
data = data.explode('production_companies')
data_PP = data[data.production_companies == 'Paramount Pictures']
data_PP.groupby('original_title').profit.sum().sort_values(ascending=True).head(1)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [28]:
answers['19'] = '5. 2015' # "+"

In [7]:
data.groupby('release_year').revenue.sum().sort_values(ascending=False).head(1)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [29]:
answers['20'] = '1. 2014' # "+"
# фактически и в датасете, в частности, не существует такой студии 'Warner Bros', 
# поэтому предлагаю изменить формулировку задания на: Какой самый прибыльный год для "студий" Warner Bros?
# или: Какой самый прибыльный год для "студий", название которых содержит строку 'Warner Bros'?

In [9]:
# функции формирования списков production_companies и profit внесены в предобработку, что в начале
data = data.explode('production_companies')
data_WB = data[data['production_companies'].str.contains('Warner Bros')]
data_WB.groupby('release_year').profit.sum().sort_values(ascending=False).head(1)

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [30]:
answers['21'] = '4. Сентябрь' # "+"

In [11]:
# функция формирования столбца release_month внесена в предобработку, что в начале
data.release_month.value_counts().head(1)

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [31]:
answers['22'] = '2. 450' # "+"

Вариант 1

In [20]:
# функция формирования столбца release_month внесена в предобработку, что в начале
data.query('release_month in [6, 7, 8,]').release_month.count()

Вариант 2

In [21]:
# функция формирования столбца release_month внесена в предобработку, что в начале
data[data.release_month.isin([6, 7, 8])].release_month.count()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [32]:
answers['23'] = '5. Peter Jackson' # "+"

In [ ]:
# функции формирования столбцов  director  и release_month внесены в предобработку, что в начале
data.explode('director').query('release_month in [1, 2, 12,]').director.value_counts().head(1)

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [33]:
answers['24'] = '5. Four By Two Productions' # "+"

In [ ]:
# функции формирования столбцов  production_companies  и len_title внесены в предобработку, что в начале
data.explode('production_companies')[data.len_title == data.len_title.max()]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [34]:
answers['25'] = '3. Midnight Picture Show' # "+"

In [ ]:
data['len_overview'] = data['overview'].apply(lambda x: x.split()).apply(len)
data = data.explode('production_companies').groupby('production_companies').len_overview.mean()
data[data == data.max()]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [35]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' # "+"

Вариант 1 (от Марины Архипцевой: Здесь считаем 99 перцентиль и берём больше него)

In [ ]:
percent_rating_value = 1
data.original_title[data.vote_average.sort_values(ascending=False)
                    [0:round(percent_rating_value*len(data)/100)-1].index]

Вариант 2 (от Владимира Горюнова)

In [ ]:
border = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= border]

Вариант 3 (так как персентиль и квартиль в юните подробно не изучались, применил groupby)

In [ ]:
# всего в датасете 1889 фильмов, 1% = 18 фильмов
data.groupby('original_title').vote_average.sum().sort_values(ascending=False).head(18)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [36]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' # "+"

In [6]:
# функция формирования списков cast внесена в предобработку, что в начале
import itertools as it
data['cast_comb'] = data.cast.apply(lambda x: tuple(it.combinations(sorted(x),2)))
Counter(data.cast_comb.values.sum()).most_common(5)

# Submission

In [37]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [38]:
# и убедиться что ни чего не пропустил)
len(answers)

27